option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /default
    memory_limit: 128M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:44cyzPQ+pYFpDz6VLgH3G9jRGXOmTvQe7mUq/PAqDWU=
    DB_HOST: testdb.cvrp0yapqs3p.us-east-1.rds.amazonaws.com
    DB_DATABASE: testdb
    DB_USERNAME: testdb
    DB_PASSWORD: {DBPASS}
    AWS_S3_KEY: {AWSKEY}
    AWS_S3_SECRET: {AWSSECRET}
    AWS_S3_REGION: us-east-1
    AWS_S3_BUCKET: eb-example
    AWS_SQS_KEY: {AWSKEY}
    AWS_SQS_SECRET: {AWSSECRET}
    AWS_SQS_PREFIX: https://sqs.us-east-1.amazonaws.com/{ID}
    AWS_SQS_QUEUE: {QUEUE}
    AWS_SQS_REGION: us-east-1
    REDIS_HOST: testcache.pgzt1f.0001.use1.cache.amazonaws.com