files:
  "/etc/httpd/conf.d/default.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          ServerName domain.com
          ServerAlias domain.com
          DocumentRoot "/var/www/html/default"
          ErrorLog "logs/default.domain.com-error_log"
          CustomLog "logs/default.domain.com-access_log" common
      </VirtualHost>
  "/etc/httpd/conf.d/site1.domain.com.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          ServerName site1.kabits.com
          ServerAlias site1.kabits.com
          DocumentRoot "/var/www/html/site1.domain.com"
          ErrorLog "logs/site1.domain.com-error_log"
          CustomLog "logs/site1.domain.com-access_log" common
      </VirtualHost>
  "/etc/httpd/conf.d/site2.domain.com.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          ServerName site2.kabits.com
          ServerAlias site2.kabits.com
          DocumentRoot "/var/www/html/site2.domain.com"
          ErrorLog "logs/site2.domain.com-error_log"
          CustomLog "logs/site2.domain.com-access_log" common
      </VirtualHost>
      
container_commands:
  01_reload_httpd:
    command: "sudo service httpd restart"
